body{
    text-align: center;
    background-color: rgb(199, 194, 247);
}
.div-1{
    width: 200px;
    height: 140px;
    background-color: rgb(154, 226, 255);
    border-radius: 12px;
    margin: 20px auto;
}