body{
    background-color: rgb(238, 255, 199);
}
.Title{
    text-align: center;
}
a{
    color: rgb(0, 0, 0);
}
p{
    text-align: center;
}
.A{
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: rgb(144, 216, 250);
    border-radius: 10px;
    margin: 10px auto;
}