body{
    background-color: rgb(45, 44, 46);
}
.Title{
    text-align: center;
}
a{
    color: rgb(29, 27, 27);
}
p{
    text-align: center;
}
.SB{
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: rgb(144, 216, 250);
    border-radius: 10px;
    margin: 10px auto;
}
.SZ{
    text-align: center;
    width: 560px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px auto;
}